<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-size: 150%;
        }

        td {
            padding: 10px;
        }
    </style>
    <title>日志列表</title>
</head>
<body>
<table border="0">
    <tr>
        <th>ID</th>
        <th>设备类型</th>
        <th>机型</th>
        <th>系统版本</th>
        <th>操作</th>
    </tr>
    {% for log in logList %}
        <tr>
            <td>{{ log.logId }}</td>
            <td>{{ log.deviceType }}</td>
            <td>{{ log.modelName }}</td>
            <td>{{ log.osVersionCode }}</td>
            <td><a href="{{ innerUrl }}{{ log.logId }}">点击查看</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>